.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: #2d2b2c; /* Optional: Add a background color for better contrast */
  color: white;
  font-size: 12px;
  z-index: 1;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline; /* Optional: Add underline on hover for better UX */
}

.attribution {
  margin-top: 5px;
  font-size: 10px;
  opacity: 0.8;
}

.attribution a {
  color: #F2A900;
}

.attribution a:hover {
  text-decoration: underline;
}
